<div class="jumbotron">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h2 class="panel-title">Results</h2>
    </div>
    <div class="panel-body">

        <ul class="list-group">
          <li class="list-group-item">
            <%= @testsessions.question.question %>
            <%= @testsessions.answer %>
          </li>
        </ul>

  </div>
</div>
