<div class="jumbotron">
  <% @tests.each do |test| %>
  <h1><%= link_to "#{test.name}", test_path(test), class: "btn btn-lg btn-info" %></h1>
  <p>Click on a test to get started!</p>
  <% end %>
</div>
