<div class="jumbotron">
  <h1><%= @test.name %></h1>
  <p>Navigate through the test by picking what you think is the correct answer.
    Click on 'Next' to move on to the next question.
    Good luck!
  </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Let's get started!</a>
</div>
